<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://objects.githubusercontent.com/github-production-release-asset-2e65be/459834856/4e579111-3a33-4333-a770-0b8929a86230?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20220216%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220216T114445Z&X-Amz-Expires=300&X-Amz-Signature=3b06b9038476236c697b898ef549537304a7228a2e616dde2a68a329b0221639&X-Amz-SignedHeaders=host&actor_id=99459877&key_id=0&repo_id=459834856&response-content-disposition=attachment%3B%20filename%3DTikTok21.1.0.ipa&response-content-type=application%2Foctet-stream</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                     <string>live.yremp.tiktok</string>
                     <key>bundle-version</key>
                    <string>21.1.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>tiktok国际版</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
